@import 'tailwindcss';

@theme {
  --spacing: 1px;
  --bg-lightblue: #e9edf5;
  --text-gray: #454746;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
}
